!!!
html
	head
		title= "Real time web chat"
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/style/main.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		script(src='/js/handlebars.js')
		script(src='/chat.js')
		script(src='/socket.io/socket.io.js')
		script#taskTemplate(type='text/x-handlebars-template')
			<div class="task-container">
			<div class="task-id">{{id}}</div>
			<div class="task-message">{{message}}</div>
			</div>

	body
		#wrap
			#main.container.clear-top
				div.navbar.navbar-fixed-top
					div.navbar-inner
						div.container
							a(data-toggle='collapse',data-target='.nav-collapse').btn.btn-navbar
								span.icon-bar
							a(href='#').brand #{title}
							div.nav-collapse
								ul.nav
									li.active
										a(href='#') Agile Planning
				br
				br
				br
				br
				.content
		
		footer.footer
			.controls
				input#field(style='width:350px;')
				input#send(type='button', value='send')
